div.child {
    width: 100px;
    height: 100px;
    background-color: powderblue;
}

div.child:hover{
    background-color: thistle;
}
input:focus {
    border-color: darkblue !important;
}
h1::selection{
    background-color: deeppink;
    color: ghostwhite;
}
li {
    list-style: none;
    font-size: 4rem;
    position: relative;
    width: 200px;
    display: inline-block;
}

li::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: hotpink;
    right: 10px;
    top: 30px;

}