* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
div.container div.ball{
    width: 100px;
    height: 100px;
    border-radius: 0;
    background-color: blueviolet;
    transition-duration: 1s;
    transition-timing-function: ease;
}

div.container div.ball:hover {
    /* transform: rotateZ(120deg); */
    /* transform: scale(2); */
    transform: translateX(400px);
    cursor: pointer;
    border-radius: 100%;
    background-color: pink;
}